body {
background:#444 url(/important/bowlbg.jpg) fixed;
font-family: Trebuchet MS, sans-serif;
font-variant: small-caps;
font-size: 9px;
color:#22111B;
letter-spacing: 1px;
line-height:10px;}
             
  
a:link, a:visited, a:active { 
color:#003D7B;text-decoration:none;}
a:hover {
color:#86A6B3;}
  

      b {color:#22111B;font-weight:bold;}
      i {font-style:italic;color:#432F62;}
      u {color:#432F62;text-decoration:underline;}
  
  img {border:0;}
  textarea {font:9px Trebuchet MS, sans-serif;letter-spacing:1px;}
     


  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;}

  ::-webkit-scrollbar-track {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAFElEQVQIW2M4fPz0////GYAYyAIASnoKpV3w4kgAAAAASUVORK5CYII=");
    image-rendering: pixelated;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);}

  ::-webkit-scrollbar-track:active {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAEElEQVQIW2No6+pjgAAgCwAWogM9VKrgGQAAAABJRU5ErkJggg==");
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);}

  ::-webkit-scrollbar-thumb {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
    width: 16px;
    height: 16px;
    background-color: #cccccc;
    z-index: 1;}

  ::-webkit-scrollbar-corner {
    background-color: #cccccc;}

  ::-webkit-resizer {
    width: 16px;
    height: 16px;
    background-color: #cccccc;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==");
    background-position: bottom right;
    background-repeat: no-repeat;
    image-rendering: pixelated;}

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-button {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #cccccc;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center center;}

  ::-webkit-scrollbar-button:active,
  ::-webkit-scrollbar-button:active {
    background-position: 2px 2px;}

  ::-webkit-scrollbar-button:horizontal:decrement,
  ::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");}

  ::-webkit-scrollbar-button:horizontal:increment,
  ::-webkit-scrollbar-button:horizontal:increment {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");}

  ::-webkit-scrollbar-button:vertical:decrement,
  ::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");}

  ::-webkit-scrollbar-button:vertical:increment,
  ::-webkit-scrollbar-button:vertical:increment {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");}

  ::-webkit-scrollbar-button:horizontal:increment:start,
  ::-webkit-scrollbar-button:horizontal:increment:start {
    display: none;}

  ::-webkit-scrollbar-button:horizontal:decrement:end,
  ::-webkit-scrollbar-button:horizontal:decrement:end {
    display: none;}

  ::-webkit-scrollbar-button:vertical:increment:start,
  ::-webkit-scrollbar-button:vertical:increment:start {
    display: none;}

  ::-webkit-scrollbar-button:vertical:decrement:end,
  ::-webkit-scrollbar-button:vertical:decrement:end {
    display: none;}

  ::-webkit-scrollbar-button:active,
  ::-webkit-scrollbar-button:active {
    border-top: 1px solid #868a8e;
    border-left: 1px solid #868a8e;
    border-bottom: 1px solid #868a8e;
    border-right: 1px solid #868a8e;
    box-shadow: none;}
  
   
.header {background:#C6678B url();color:#E8D4D2;text-align:center;border-top-right-radius:30px;border-top-left-radius:30px;border:2px solid #22111B;border-bottom:0px;}

.header a {font-family: trebuchet ms, sans-serif;font-size:20px;text-decoration:underline;color:#ef0091;letter-spacing:3px;text-shadow: 1px 1px 2px black;}

  
.navigation {background:#FFf;margin-top:0px;border-top:1px solid #111;border-bottom:1px solid #111;}

.navigation a {
display:inline-block;
background:transparent;
text-align:center;
margin-bottom:2px;
margin-right:4px;
padding-bottom:2px;
padding-top:2px;
font:normal 9px trebuchet MS, sans-serif;
line-height:10px;
text-transform:uppercase;
letter-spacing:1px;
color:#ef0091;
width:75px;}

.navigation a:hover {
background:#f0f0f0;
color:#000;}
  
.icon {margin-bottom:4px;margin-top:4px;}

.marquee {background:#22111B;color:#e8d4d2;font:9px trebuchet ms, sans-serif;padding:2px;}

.leftside {background: #FFF; border-right: 2px solid #444;}
.content {background: #FFF; border-right: 2px solid #444;}
.rightside {background: #FFF;}
.footer {background: #22111B;color:#e8d4d2; border-top:1px solid #111;
 border-bottom-left-radius:10px;border-bottom-right-radius:10px;line-height:20px;}
.footer a {color:#fff;}
  
.scrollbox {height:90px;border:1px solid #432f62;border-right:0px;padding:6px;margin-bottom:3px;overflow:scroll;overflow-x:hidden;}
  
.title {font: 10px trebuchet ms, sans-serif;color:#ef0091;letter-spacing:1px;text-align:left;padding:0px;padding-left:4px;
margin-bottom:4px;text-transform:uppercase;background:#eee;border-bottom:1px solid #ddd;}
  
* {cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1136.ani), url(https://cur.cursors-4u.net/anime/ani-12/ani1136.gif), auto !important;}