body {
    background: #F9D8D8 url("/important/pinkbg.png"); /*Replace with your own background*/
    background-repeat: repeat-x repeat-y;
    background-position:right top;
    background-attachment: fixed;
      font-family: Trebuchet MS, sans-serif;
	    font-variant: small-caps;
      font-size: 14px;
    }

    
  center {
    text-align: center;
    }
    
  /* unvisited link */
  a:link {
    color: #CF7777;
  }

  /* visited link */
  a:visited {
    color: #DC9292;
  }

  /* mouse over link */
  a:hover {
   color: #E59F9F;
  }

  /* selected link */
  a:active {
   color: #E59F9F;
  }

  h2 {
    text-align: center;
      font-size: 20px;
      color: rgb(0, 0, 0);
  }

  #more {
    display: none;
  }
  
  /*All sidebars go in here.*/  
  .sidebar-group {
    position: fixed;
    top: 0;
    margin-top: 25px;
    }
    
  /*Code shared by all window-style boxes. To see what different specific sidebar classes look like, check the demo page.*/
  .sidebar, .mini-sidebar, .wide-sidebar, .box {
    background: #F9D8D8;
    border: 3px inset #C94A4A;
    }
    
  /*Prevent image overflow.*/
  .sidebar img, .mini-sidebar img, .wide-sidebar img, .box img {
    max-width: 100%;
    height:auto; /*Prevent squishing*/
    }
    
  .sidebar, .sidebar-box {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    }
    
  /*Container for vertical stacks of multiple mini-sidebars*/
  .sidebar-box {
    margin-left: 10px;
    }
    
  .sidebar {
    width: 160px;
    margin-left: 25px;
    }
    
  .mini-sidebar {
    width: 350px;
    margin-bottom: 25px;
    margin-left: 25px;
    }
    
  .wide-sidebar {
    margin-left: 25px;
    margin-top: 25px;
    width: 340px;
    min-height: 150px;
    }
    
  /*Inside/main text of window boxes.*/
  .inner {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    }
  
  /*The title bar at the top of window boxes.*/
  .title-bar, .box-title-bar {
    background: #F9D8D8;
    color: #CF7777;
    font-weight: bold;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
    
  /*The title bar of boxes has slightly more padding, since there's more room to space text.*/
  .box-title-bar {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    
  /*For the symbol in the top right corner.*/
  .right {
    float: right;
    margin-right: 5px;
    font-family: Courier New, monospace;
    line-height: 12px;
    }
    
  /*Round circular image.*/
  .icon {
    border: #C94A4A solid 2px;
    border-radius: 50%;
    }
    
  /*Main body text boxes.*/
  .box {
	max-height: 800px;
    overflow: auto;
    margin-top: 25px;
    margin-left: 475px;
    width: 750px;
    margin-bottom: 25px;

  }

  .gallery {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #C94A4A dashed 2px;
    background:#F9D8D8;
    margin: 0px 20px 20px 0px;
  }
    
  .gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #C94A4A;
    background: #F9D8D8;
    margin: 2px;
  }
    
  .gallery img:hover {
    object-fit: contain;
  }

    .stampgallery {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #C94A4A dashed 2px;
    background:#F9D8D8;
    margin: 0px 20px 20px 0px;
  }

  #statuscafe {
    padding: .5em;
    background-color: #f5eeee;
    border: 2px dashed #C94A4A;
}
  #statuscafe-username {
    margin-bottom: .5em;
}
  #statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

	/* Start https://www.cursors-4u.com */ * 
	{cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1107.cur), auto !important;}
	 /* End https://www.cursors-4u.com */