body, html {
	padding: 0;
	margin: 0;
	font-size: 13px;
	background: #000;
	color: #c6a8c0;
    font-family: Trebuchet MS, sans-serif;
	font-variant: small-caps;
    font-size: 14px;
    background: url('/important/bunbg.png');
    background-repeat: repeat-x repeat-y;
    background-position:right top;
    background-attachment: fixed;
}

img {
	max-width: 100%;
}

.page {
	padding: 24px;
    background: #000;
}

.page h1:first-child {
	margin-top: 0;
}

.header-image {
	height: 200px;
	margin: auto;
	display: block;
}

.wrapper {
	margin: auto;
	margin-top: 24px;
	width: 753px;
}

.menu {
	text-align: center;
	margin-bottom: 24px;
	margin-top: 24px;
}

.menu a {
	color: #ac75ad;
}

.gallery {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #ac75ad outset 2px;
    background:transparent;
    margin: 0px 20px 20px 0px;
}
    
.gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px dashed #ac75ad;
    background: #feede5;
    margin: 2px;
}

.gallery img:hover {
   object-fit: contain;
  
}

.main {
	height: 480px;
	width: 753px;
	background-image: url('/important/gbg.png');
	position: relative;
}

.main iframe {
	border: none;
	border: none;
	position: absolute;
	top: 35px;
	left: 7px;
	width: 739px;
	height: 439px;
}

h1, h2, h3, h4, h5 {
	font-size: 16px;
}

h1 {
	border-bottom: 1px outset #ac75ad;
}

h2 {
	border-bottom: 1px dotted #ac75ad
}

a {
	color: #ac75ad;
}