body {
    background: #eed2fe url("/important/bowlbg.jpg"); /*Replace with your own background*/
    background-repeat: repeat-x repeat-y;
    background-position:right top;
    background-attachment: fixed;
      font-family: Trebuchet MS, sans-serif;
	    font-variant: small-caps;
      font-size: 14px;
    }

    
  center {
    text-align: center;
    }

    /* unvisited link */
  a:link {
    color: #74114c;
  }

  /* visited link */
  a:visited {
    color: #38112d;
  }

  /* mouse over link */
  a:hover {
   color: #e91a74;
  }

  /* selected link */
  a:active {
   color: #e91a74;
  }

  h2 {
    text-align: center;
      font-size: 20px;
      color: rgb(0, 0, 0);
  }
  

  #rss {
    margin: auto;
    box-sizing: border-box;
    max-width: 375px;
    border: 2px dashed #C94A4A;
    padding: 10px;
    background: #F9D8D8;
    color: #000000;
    font-family: Trebuchet MS, sans-serif;
	  font-variant: small-caps;
    }
    
  #rss a {
      color: #CF7777;
      text-decoration: none;
    }
    
  #rss h3 a {
      color: #DC9292;
    }
    
  #rss h3 {
      margin: 5px;
    }
    
  #rss h4 {
      margin: 10px 4px;
    }
    
  #rss p {
      padding: 0;
      margin: 0px 0px 0px 20px;
    }
    
  #rss div a {
      font-size: 10px;
    }
    
  /*All sidebars go in here.*/  
  .sidebar-group {
    position: fixed;
    top: 0;
    margin-top: 25px;
    }

  .boxbox {
    display: flex;
  }

  .bbimg {
    align-self: center;
    padding-left: 25px;
  }
    
  /*Code shared by all window-style boxes. To see what different specific sidebar classes look like, check the demo page.*/
  .sidebar, .mini-sidebar, .wide-sidebar, .box, .meow, .rss-sidebar{
    background: #eed2fe;
    border: 3px inset #6e4d77;
    }
    
  /*Prevent image overflow.*/
  .sidebar img, .mini-sidebar img, .wide-sidebar img, .box img, .meow img, .rss-sidebar img {
    max-width: 100%;
    height:auto; /*Prevent squishing*/
    }
    
  .sidebar, .sidebar-box {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    }
    
  /*Container for vertical stacks of multiple mini-sidebars*/
  .sidebar-box {
    margin-left: 10px;
    }
    
  .wide-sidebar {
    overflow: auto;
    margin-left: 10px;
    margin-top: 15px;
    width: 375px;
    height: 700px;
    }

  .rss-sidebar {
    overflow: auto;
    margin-left: 10px;
    margin-top: 15px;
    width: 400px;
    height: 400px;
    }
    
  /*Inside/main text of window boxes.*/
  .inner {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    }
  
  /*The title bar at the top of window boxes.*/
  .title-bar, .box-title-bar {
    background: #E4B3E0;
    color: #6e4d77;
    font-weight: bold;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
    
  /*The title bar of boxes has slightly more padding, since there's more room to space text.*/
  .box-title-bar {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    
  /*For the symbol in the top right corner.*/
  .right {
    float: right;
    margin-right: 5px;
    font-family: Courier New, monospace;
    line-height: 12px;
    }
    
  /*Round circular image.*/
  .icon {
    border: #e91a74 solid 2px;
    border-radius: 50%;
    }

  .img {
    align-self: right;
    margin-top: 10px
  }
    
  /*Main body text boxes.*/
  .box {
	max-height: 800px;
    overflow: auto;
    margin-top: 25px;
    margin-left: 475px;
    width: 750px;
    margin-bottom: 25px;

  }

  .meow {
	height: 350px;
    overflow: auto;
    margin-left: 400px;
    width: 575px;
    margin-bottom: 25px;
    margin-top: 15px;

  }

    .stampgallery {
    width: 475px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #e91a74 dashed 2px;
    background:#eed2fe;
    margin: 0px 20px 20px 0px;
  }
	/* Start https://www.cursors-4u.com */ * 
	{cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1107.cur), auto !important;}
	 /* End https://www.cursors-4u.com */